*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#roma {
  background-image: url(../img/roma.jpg);
}

#new-york {
  background-image: url(../img/new-york.jpg);
  }

#siviglia {
  background-image: url(../img/siviglia.jpg);
}
.city{
  position: relative;
  width: calc(100% - 20px);
  height: 100vh;
  background-size: cover;
  margin: 10px;
}
.layover{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.text-city{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
}
